<div class='swift-logo'></div>
<div class='nav-bar'></div>
<div class='timer-left'></div>
<div class='video-large'></div>
<div class='video-small'></div>
<div class='leave-button'></div>
<div class='flash-card-profile' ></div>
