<div id="like_page">
	<div class="container_match" id="like">
	    <h2>How was the meeting?</h2>
	    <p>Would you like to continue to talk to Alice?</p>
	    <button class="match_btn" href="#" id ='match-no-btn'>No</button>
	    <button class="match_btn" href="#" id ='match-yes-btn'>Yes</button>
	</div> 
</div>