<div id='payment_plan_page'>

<div class="whole">
        <div class="type standard">
       <p>Cheapo</p>
        </div>
         <div class="plan">
            <div class="header">
                <span>$</span>0.<sup>00</sup>
                  <p class="month">per month</p>
            </div>
            <div class="content_free">
                  <ul class='payment' id='free_plan'>

                        <li>14 Video Sessions/month</li>
                <li id=free_plan_btn><p id='current_planz'>Current Plan</p></li>
                  </ul>
            </div>
        </div>
</div>

<div class="whole_2" id='whole_premium'>
      <div class="type ultimate">
              <p>Love Ninja</p>
            </div>
        <div class="plan">
        <div class="header">
                  <span>$</span>24.<sup>99</sup>
                  <p class="month">per month</p>
            </div>
            <div class="content">
                <ul class='payment' id ='premium_plan'>
                <li>Unlimited Video Sessions/month</li>

<button class="button_premium_plan button1_premium_plan">Get Premium</button>

                </ul>
      </div>
  </div>

</div>