<div id="main" class="is-loading">

    <div class="menu">
        <i class="line">
            <ul class="nav">
                <li>Home</li>
                <li>About Swift</li>
                <li>Pricing</li>
                <li>Contact</li>
            </ul>
        </i>
        <i class="line"></i>
        <i class="line"></i>
    </div>

    <button class="button button-4 button-4a icon-arrow-right meow">Log In</button>
    <h1>
        Meet someone live on the internet via
        <a class='big-swift'>Swift</a>
    </h1>


        <input type="submit" class="button-signup" id="submit" value="JOIN NOW">


</div>


<div class = 'swift-container'>
  <div class = 'swift-desc'>
    <h3>Lorem ipsum dolor sit amet, fusce sed mollis justo sed velit sed, malesuada erat ultrices fusce erat, tempus urna aenean viverra, pede amet risus praesent quis, ac massa purus feugiat sed molestie. Metus pharetra proin quis ac nibh lorem. Purus vel hac mauris, pulvinar et maecenas tristique.</hr3>
  </div>
</div>

<div class='info'>
    <%= image_tag "heart.png" , :class => "heart_pic"%>
    <div class='heart_text'>
        <p>
            Powerful
            <span style="color:#ff3399">Matching Algorithm</span>
            to find the right person for you.
        </p>
    </div>

    <%= image_tag "timer.png" , :class => "timer_pic"%>
    <div class='timer_text'>
        <p>
            Decide whether to share contact details after
            <span style="color:red;font-weight:bold">120</span>
            Seconds of first impression.
        </p>
    </div>

    <%= image_tag "laptop.png" , :class => "laptop_pic"%>
    <%= image_tag "mobile.png" , :class => "mobile_pic"%>

    <div class='platform_text'>
        <p>
            Use
            <a id='platform-swift' class='big-swift'>Swift</a>
            on desktop or mobile anytime, anywhere.
        </p>
    </div>

</div>

<div class="links">
    <a href="#">About Swift</a>
    <a href="#">Legal</a>
    <a href="#">Contact Us</a>
    <a href="#">Terms & Condition</a>
    <a href="#">Press</a>
    <span>© Swift-Dating, Inc.</span>
</div>




<!-- <div class ='foot'>

  <div class="foot1">
 				<ul class="unstyled">
 					<p>Swift</p>
 					<li><a href="#">About Us</a></li>
 					<li><a href="#">Contact & support</a></li>
 					<li><a href="#">Press</a></li>
 				</ul>
 			</div>

     <div class="foot2">
 			<ul class="unstyled">
 				<p>More</p>
 				<li><a href="#">Digital Speed Dating</a></li>
 				<li><a href="#">First Impression</a></li>
 				<li><a href="#">Video vs Texting </a></li>
 			</ul>
 		</div>

 	    <div class="foot3">
     		<ul class="unstyled">
 				<p>Legal</p>
 				<li><a href="#">Arbitration</a></li>
 				<li><a href="#">Terms & Conditions</a></li>
 				<li><a href="#">Privacy Policy</a></li>

 			</ul>
 		</div>
</di> -->
