<div id="main" class="is-loading">


    <div class="menu">
        <i class="line">
            <ul class="nav" id='landing_bar'>
                <li>Home</li>
                <li>About Swift</li>
                <li>Pricing</li>
                <li>Contact</li>
            </ul>
        </i>
        <i class="line"></i>
        <i class="line"></i>
    </div>

    <button href="#modal" class="btn button button-4 button-4a icon-arrow-right" id="modal_trigger"  >Log In</button>
    <h1 id='main_slogan'>
        Meet someone live on the internet via
        <a class='big-swift'>Swift</a>
    </h1>

<button href="#modal" class="sign_up_button submit btn button button-4 button-4a icon-arrow-right" id="modal_trigger2" >JOIN NOW</button>

</div>


<div class = 'swift-container'>
  <div class = 'swift-desc'>
    <h3>Lorem ipsum dolor sit amet, fusce sed mollis justo sed velit sed, malesuada erat ultrices fusce erat, tempus urna aenean viverra, pede amet risus praesent quis, ac massa purus feugiat sed molestie. Metus pharetra proin quis ac nibh lorem. Purus vel hac mauris, pulvinar et maecenas tristique.</hr3>
  </div>
</div>

<div>
<div class='info'>
    <%= image_tag "heart.png" , :class => "heart_pic"%>
    <div class='heart_text'>
        <p>
            Powerful
            <span style="color:#ff3399">Matching Algorithm</span>
            to find the right person for you.
        </p>
    </div>

    <%= image_tag "timer.png" , :class => "timer_pic"%>
    <div class='timer_text'>
        <p>
            Decide whether to share contact details after
            <span style="color:red;font-weight:bold">120</span>
            Seconds of first impression.
        </p>
    </div>

    <%= image_tag "laptop.png" , :class => "laptop_pic"%>
    <%= image_tag "mobile.png" , :class => "mobile_pic"%>

    <div class='platform_text'>
        <p>
            Use
            <a id='platform-swift' class='big-swift'>Swift</a>
            on desktop or mobile anytime, anywhere.
        </p>
    </div>

  </div>
</div>
<div class="links">
    <a href="#">About Swift</a>
    <a href="#">Legal</a>
    <a href="#">Contact Us</a>
    <a href="#">Terms & Condition</a>
    <a href="#">Press</a>
    <span>© Swift-Dating, Inc.</span>
</div>


<!-- Log In Form-->

<div id="modal" class="popupContainer" style="display:none;">
				<header class="popupHeader">
						<span class="header_title">Login</span>
						<span class="modal_close"><i class="fa fa-times"></i></span>
				</header>

				<section class="popupBody">
						<!-- Social Login -->
						<div class="social_login">
								<div class="">
										<a href="/auth/facebook" class="social_box fb">
												<span class="icon"><i class="fa fa-facebook"></i></span>
												<span class="icon_title">Connect with Facebook</span>

										</a>

										<a href="#" class="social_box google">
												<span class="icon"><i class="fa fa-google-plus"></i></span>
												<span class="icon_title">Connect with Google</span>
										</a>
								</div>

								<div class="centeredText">
										<span>Or use your Email address</span>
								</div>

								<div class="action_btns">
										<div class="one_half"><a href="#" id="login_form" class="btn">Login</a></div>
										<div class="one_half last"><a href="#" id="register_form" class="btn">Sign up</a></div>
								</div>
						</div>

						<!-- Username & Password Login form -->
						<div class="user_login">
								<form>
										<label>Email / Username</label>
										<input type="text" />
										<br />

										<label>Password</label>
										<input type="password" />
										<br />

										<div class="checkbox">
												<input id="remember" type="checkbox" />
												<label for="remember">Remember me on this computer</label>
										</div>

										<div class="action_btns">
												<div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
												<div class="one_half last"><a href="#" class="btn btn_red">Login</a></div>
										</div>
								</form>

								<a href="#" class="forgot_password">Forgot password?</a>
						</div>

						<!-- Register Form -->
						<div class="user_register">
								<form>
										<label>Full Name</label>
										<input type="text" />
										<br />

										<label>Email Address</label>
										<input type="email" />
										<br />

										<label>Password</label>
										<input type="password" />
										<br />

										<div class="checkbox">
												<input id="send_updates" type="checkbox" />
												<label for="send_updates">Send me occasional email updates</label>
										</div>

										<div class="action_btns">
												<div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
												<div class="one_half last"><a href="#" class="btn btn_red">Register</a></div>
										</div>
								</form>
						</div>
				</section>
		</div>
</div>


<!-- Sign Up Form -->
