/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require chosen
 *= require videos
 */

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Pacifico);


/*Nav Bar*/
.main_nav_bar{
    position: fixed;
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 95px;
    height: 700px;
    background-color:rgba(241, 241, 241, 0.72);

}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}


.match_icon{

  width: 70%;
  height: auto;
  position: relative;
  right: -6px;
}

.settings_icon{

  width: 70%;
  height: auto;
  position: relative;
  right: -6px;
}

.chat_icon{

  width: 70%;
  height: auto;
  position: relative;
  right: -6px;
}

.video_icon{

  width: 70%;
  height: auto;
  position: relative;
  right: -6px;
}


.log_out_icon{

  width: 70%;
  height: auto;
  position: relative;
  right: -6px;
}


.nav_bar_container{
  position:relative;
  top: 135px;
  z-index: 3;
}


#log_out_div{
  position: relative;
    top: 150px;
}



a.swift-pic{
  position: relative;
  color: white;
  right: -1123px;
  top: -688px;
}

#landing_bar{
background-color: transparent;

}


/*Toggle*/

.flip-switch {
  position: relative;
   bottom: 720px;
       right: 595px;
  display: block;
  height: 35px;
  width: 62px;
  background: #182029;
  padding: 3px 0 0;
  margin: 0 auto;
  perspective: 50px;
  -webkit-perspective: 50px;
  -moz-perspective: 50px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;

  input {
    display: none;
  }

  label {
    display: block;
    position: relative;
    height: 32px;
    width: 56px;
    outline: none;
    margin: 0 auto;
    -webkit-appearance: none;
    background: none;
    border: none;
	  transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    animation: uncheck 0.6s ease-out;
    -webkit-animation: uncheck 0.6s ease-out;
    -moz-animation: uncheck 0.6s ease-out;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;

    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: inherit;
      width: inherit;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      border-radius: inherit;
      -webkit-border-radius: inherit;
      -moz-border-radius: inherit;
      text-align: center;
    }

    &:before {
      z-index: 2;
      transform: rotateY(0deg);
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      background: #E65757;
    }

    &:after {
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      background: #77E371;
    }

  }

  input:checked + label {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    animation: check 0.6s ease-out;
    -webkit-animation: check 0.6s ease-out;
    -moz-animation: check 0.6s ease-out;
  }

  &.flip-switch-icon {

    label {

      &:before, &:after {
        font-family: 'FontAwesome';
        color: white;
        font-size: 2rem;
        line-height: 32px;
      }

      &:before {
        content: '\f00d';
      }

      &:after {
        content: '\f00c';
      }

    }

  }

  &.flip-switch-text {

    label {

      &:before, &:after {
        color: white;
        line-height: 32px;
        font-weight: 900;
        font-size: 1.3rem;
      }

      &:before {
        content: 'OFF';
      }

      &:after {
        content: 'ON';
      }

    }

  }

}

@keyframes check {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(195deg);
  }
  75% {
    transform: rotateY(165deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@-webkit-keyframes check {
  0% {
    -webkit-transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(195deg);
  }
  75% {
    -webkit-transform: rotateY(165deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
  }
}

@-moz-keyframes check {
  0% {
    -moz-transform: rotateY(0deg);
  }
  50% {
    -moz-transform: rotateY(195deg);
  }
  75% {
    -moz-transform: rotateY(165deg);
  }
  100% {
    -moz-transform: rotateY(180deg);
  }
}

@keyframes uncheck {
  0% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(-15deg);
  }
  75% {
    transform: rotateY(15deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@-webkit-keyframes uncheck {
  0% {
    -webkit-transform: rotateY(180deg);
  }
  50% {
    -webkit-transform: rotateY(-15deg);
  }
  75% {
    -webkit-transform: rotateY(15deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
  }
}

@-moz-keyframes uncheck {
  0% {
    -moz-transform: rotateY(180deg);
  }
  50% {
    -moz-transform: rotateY(-15deg);
  }
  75% {
    -moz-transform: rotateY(15deg);
  }
  100% {
    -moz-transform: rotateY(0deg);
  }
}





#navbar_id{


}


#token_left{
  position: relative;
      top: -114px;
      right: -28px;
      border: 2px solid black;
      padding: 9px;
      width: 39px;
      height: 39px;
}

#preference_page {
  display: none;
  z-index: -1;
}

#video_page {
  display: none;
}
