// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#Go_Premium{
	position: relative;
	color: white;
	border-color: #FF4081;
	top: 0px;
    right: -1050px;
	background-color: #FF4081 ;
}
