.swift-logo{
border: 0.5px solid black;
width: 100px;
height: 60px;
position: absolute;
left: 12px;
    top: 31px;
}

.nav-bar{
  width: 55px;
  height: 55px;
  border: 1px solid black;
  position: absolute;
  right: 17px;
  top: 19px;

}

.video-large{
  border: 1px solid black;
  height: 500px;
  width: 667px;
  position: absolute;
  right: 450px;
  top: 100px;

}

.timer-left{
  border: 1px solid black;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 136px;
  right: 336px;

}
.video-small{
  border: 1px solid black;
  height: 100px;
  width: 125px;
  position: absolute;
  right: 458px;
  top: 492px;
}

.leave-button{
  border: 1px solid black;
  height: 40px;
  width: 100px;
  position: absolute;
  top: 625px;
  left: 445px;
}

.flash-card-profile{
  border:1px solid black;
  height: 318px;
  width: 235px;
  position: absolute;
  right: 170px;
  top: 260px;
}
